<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.protino.codewatch">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:name=".App"
		android:allowBackup="true"
		android:fullBackupContent="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">


		<activity
			android:name=".ui.PreChecksActivity"
			android:theme="@style/SplashTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.NavigationDrawerActivity"
			android:theme="@style/AppTheme.Drawer">
		</activity>


		<activity
			android:name=".ui.LoginActivity"
			android:launchMode="singleTask"
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data
					android:host="@string/login_host"
					android:scheme="@string/app_scheme"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ui.OnBoardActivity">
		</activity>


		<activity android:name=".ui.ProjectDetailActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.NavigationDrawerActivity"/>
		</activity>
		<activity android:name=".ui.AboutActivity"/>
		<activity
			android:name=".ui.ProfileActivity"
			android:theme="@style/AppTheme.Drawer">
		</activity>


		<provider
			android:name=".data.LeaderProvider"
			android:authorities="io.github.protino.codewatch.app"/>
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="io.github.protino.codewatch.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths"
				/>
		</provider>

		<service
			android:name=".sync.SyncScheduler"
			android:exported="false">
			<intent-filter>
				<action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
			</intent-filter>
		</service>
		<service
			android:name=".sync.WakatimeDataSyncJob"
			android:exported="false">
			<intent-filter>
				<action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
			</intent-filter>
		</service>

		<receiver android:name=".ui.widget.PerformanceWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/performance_widget_info"/>
		</receiver>
		<service android:name=".ui.widget.PerformanceWidgetIntentService"/>
	</application>

</manifest>